<div class="container-main">
  <div class="card-container">
    <div class="card">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="56"
        height="56"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
        />
      </svg>
      <form class="form" [formGroup]="formRegister">
        <label>Nombre</label>
        <app-form
          [form]="formRegister"
          type="email"
          controlName="userName"
        ></app-form>
        <small *ngIf="isValidField('userName')" class="text-danger"
          >Este campos es obligatorio</small
        >

        <label>Correo</label>
        <app-form
          [form]="formRegister"
          type="email"
          controlName="userEmail"
        ></app-form>
        <small *ngIf="isValidField('userEmail')" class="text-danger"
          >Este campos es obligatorio</small
        >

        <label>Contraseña</label>

        <div class="col">
          <input
            class="form-control"
            type="password"
            formControlName="userPassword"
          />
        </div>

        <small *ngIf="isValidField('userPassword')" class="text-danger"
          >Este campos es obligatorio</small
        >

        <div class="col input-group mt-3">
          <input type="file" class="form-control" formControlName="userPhoto" />
        </div>

        <button
          class="btn btn-primary mt-5"
          type="button"
          (click)="onRegister()"
        >
          Crear usuario
        </button>

        <button
          class="btn btn-secondary mt-2"
          type="button"
          [routerLink]="['/auth/login']"
        >
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
