.card{
    padding: 3%;
    border-radius: 32px;
    
}

h4{
    margin-top: 5% !important;
}


.tags{
    border:none;
    background-color: #9aa3a2;
    border-radius: 5px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%
    

}

.input-tag{
    background-color:transparent; 
    border-color: transparent;
    color: white;
    margin-top: 5%;
}