<app-navbar></app-navbar>

<form [formGroup]="formRegister" autocomplete="off">
  <div class="container card mt-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <div class="input-group mb-3">
        <button
          class="btn btn-primary mt-3 mb-5 btn-block"
          (click)="addPhone()"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-telephone-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
            />
          </svg>
          + Agregar Telefono
        </button>
      </div>
      <button
        class="btn btn-primary mt-3 mb-5 btn-block"
        type="button"
        (click)="addEmail()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-envelope-plus-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207z"
          />
          <path
            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"
          /></svg
        >Agregar Correo
      </button>
    </div>
    <div
      class="row col-12 p-3 animate__animated animate__fadeIn d-flex justify-content-center"
    >
      <h3>Datos de contacto</h3>

      <div class="col-3 mb-4">
        <label class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          formControlName="contactFirstName"
        />
        <small *ngIf="isValidField('contactFirstName')" class="text-danger"
          >Este campos es obligatorio</small
        >
      </div>
      <div class="col-3 mb-4">
        <label class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          placeholder="Apellido"
          formControlName="contactLastName"
        />
        <small *ngIf="isValidField('contactLastName')" class="text-danger"
          >Este campos es obligatorio</small
        >
      </div>
      <!-- <div class="col-3 mb-4">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder="Correo" formControlName="contactEmail" />
                <small *ngIf="isValidField('contactEmail')" class="text-danger">El formato debe ser example@gmail.com</small>
            </div> -->
      <div class="col-3 mb-4">
        <label class="form-label">Alias</label>
        <input
          type="text"
          class="form-control"
          placeholder="Alias"
          formControlName="contactAlias"
        />
      </div>
      <div class="col-3 mb-4">
        <label class="form-label">Empresa</label>
        <input
          type="text"
          class="form-control"
          placeholder="Empresa"
          formControlName="contactCompany"
        />
      </div>
      <div class="col-3 mb-4">
        <label class="form-label">Cumpleaños</label>
        <input
          type="datetime-local"
          class="form-control"
          placeholder="Cumpleaños"
          formControlName="contactBirthday"
        />
        <small *ngIf="isValidField('contactBirthday')" class="text-danger"
          >Este campos es obligatorio</small
        >
      </div>
      <div class="col-4 mb-4">
        <label class="form-label">Fotografia</label>
        <input
          type="file"
          class="form-control"
          formControlName="contactPhoto"
        />
      </div>

      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
          formControlName="contactNotes"
        ></textarea>
        <label for="floatingTextarea2">Notas</label>
      </div>
    </div>

    <!-- table for email -->
    <div
      class="row col-12 p-3 animate__animated animate__fadeIn d-flex justify-content-center"
    >
      <div class="col">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Correo</th>
              <th>Tipo</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody formArrayName="contactEmail">
            <tr
              *ngFor="
                let emailControl of getcontactEmailFormArray.controls;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-envelope-at"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                      />
                      <path
                        d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"
                      /></svg
                  ></span>
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                    placeholder="Correo {{ i + 1 }}"
                  />
                </div>

                <small
                  *ngIf="emailControl.invalid && emailControl.touched"
                  class="text-danger"
                >
                  El formato debe ser example@gmail.com
                </small>
                <!-- <small *ngIf="isFormatField(i)" class="text-danger"
                  >El formato debe ser example@gmail.com</small
                > -->
                <!-- <small *ngIf="getcontactEmailFormArray.controls[i].invalid && isFormatField('contactEmail')" class="text-danger">
                    El formato debe ser example@gmail.com
                  </small>  -->
              </td>
              <td></td>
              <td>
                <button class="btn btn-danger" (click)="deleteEmail(i)">
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- table for phone -->

    <div
      class="row col-12 p-3 animate__animated animate__fadeIn d-flex justify-content-center"
    >
      <div class="col">
  
        
        
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Telefono</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody formArrayName="contactPhone">
            <tr
              *ngFor="
                let phoneControl of getcontactPhoneFormArray.controls;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>
                <div class="col-4 md-3">
                  <select
                    class="form-select form-select"
                    aria-label="Large select example"
                    (change)="onTypePhone($event, i)"
                  >
                    <option
                      selected
                      *ngFor="let type of types"
                      [value]="type.name"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                  <!-- formphone -->
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-house-door"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
                        />
                      </svg>
                    </span>
                    <input
                      [formControlName]="i"
                      placeholder="Numero de telefono {{ i + 1 }}"
                      type="tel"
                      class="form-control"
                    />
                  </div>
                  <br />
                  <small
                    *ngIf="contactPhone.invalid && contactPhone.touched"
                    class="text-danger"
                  >
                    El formato debe ser example@gmail.com
                  </small>
              </td>

              <td>
                <button class="btn btn-danger" (click)="deletePhone(i)">
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="addPhone()">
                + Agregar Telefono
            </button> -->
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 mt-5">
      <button
        class="btn btn-outline-danger me-md-2"
        type="button"
        [routerLink]="['/list-contact']"
        routerLinkActive="router-link-active"
      >
        Cancelar
      </button>
      <button class="btn btn-primary" type="button" (click)="saveContact()">
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />
<pre>
  Estado del formulario: {{ formRegister.valid }}
  <br>
  Status: {{ formRegister.status }}
</pre>

<pre>

  {{ formRegister.value | json }}

</pre>
