<div class="container-fluid">
  <div class="card-container">
    <div class="card">
      <span class="loader"></span>
      <form class="form" [formGroup]="formLogin">
        <label>Usuario</label>
        <input
        class="form-control"
          type="email"
          formControlName="authUser"
          required="required"
        />
        <small *ngIf="isValidField('authUser')" class="text-danger"
          >Este campos es obligatorio</small
        >
        <label>Contraseña</label>

        <input
        class="form-control"
          type="password"
          formControlName="authPassword"
          required="required"

        />

        <small *ngIf="isValidField('authPassword')" class="text-danger"
          >Este campos es obligatorio</small
        >
        <button class="btn btn-primary mt-5" type="button" (click)="onLogin()">
          Ingresar
        </button>
        <a class="link mt-3" routerLink="/register">Registrarse</a>

      </form>
    </div>
  </div>
</div>
