<div class="container-main">
  <div class="card-container">
    <div class="card">
      <span class="loader"></span>
      <form class="form" [formGroup]="formLogin">
        <label>Usuario</label>
        <input
          class="input-custom"
          matInput
          type="email"
          formControlName="authUser"
        />
        <small *ngIf="isValidField('authUser')" class="text-danger"
          >Este campos es obligatorio</small
        >
        <label>Contraseña</label>

        <input
          class="input"
          matInput
          type="password"
          formControlName="authPassword"
        />

        <small *ngIf="isValidField('authPassword')" class="text-danger"
          >Este campos es obligatorio</small
        >
        <button class="btn btn-primary mt-5" type="button" (click)="onLogin()">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
