<div class="card text-center backdrop">
    <div class="card-header alert-box">
      <h2>{{data.title}}</h2>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{data.message}}</h3>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
        <button class="btn btn-outline-secondary me-md-2" type="button" (click)="cancel()">Cancelar</button>
        <button class="btn btn-primary" type="button" (click)="confirm()">Aceptar</button>
      </div>
    </div>
   
  </div>